.idea

# I have to commit the node_modules in order for GitHub Pages to correctly deploy my website.
# Ignoring things which aren't absolutely necessary to deploy.
node_modules/*
!node_modules/*/
node_modules/*/*
!node_modules/modern-normalize/modern-normalize.css
