html, body {
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
}

h1 {
    margin: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
}

hr {
    width: 48px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.12);
    height: 2px;
}

p {
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    color: rgba(0, 0, 0, 0.87);
}

a {
    transition: all .2s ease-in-out;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.38);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.87);
}
