:root {
	/* TODO Use relative colors */
	--color-hsl: hsl(0 0% 10%);
	color-scheme: light dark;
}

html {
	line-height: 1.5;
}

body {
	/*
	TODO Collapsible margins are important for content writing. Once margin-trim has browser support:
	  - Re-implement with CSS grid (https://www.joshwcomeau.com/css/full-bleed/).
	  - Restrict width using ch unit.
	*/
	max-inline-size: calc(min(40em + 1.6rem * 2, 100%));
	margin-inline: auto;
	padding-block: 2.4rem;
	font-size: clamp(16px, .6rem + 1vw, 18px);
}

main > :not(img, table), footer > * {
	padding-inline: 1.6rem;
	margin-inline: auto;
	inline-size: calc(min(40rem, 100%));
}

img:before {
	padding-inline: 1.6rem;
}

img {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	block-size: auto;
	inline-size: 100%;
	margin-block: 3.2rem;
	font-style: italic;
	background: hsl(var(--color-hsl) / 0.05);
}

footer {
	margin-block: 3.2rem 1rem;
	text-align: center;
	font-size: .8rem;
}

address {
	font-style: normal;
}

.underline {
	text-decoration: underline .2rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-hsl: 0 100% 99%;
	}
}
