:root {
    --color: hsl(0 0% 10%);
    --background-color: white;
}

html {
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--color);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 2.4rem;
}

main * {
    margin-inline: auto;
}

main h1, main h2, main h3, main h4, main h5, main h6, main p, main ul, main li {
    max-width: 40rem;
    padding-inline: 1.4rem;
}

main img, main table {
    max-width: 48rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: .85em;
}

h2 {
    font-size: 1.5em;
    margin-top: 2em;
}

h3 {
    font-size: 1.25em;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: .1em;
}

h5 {
    font-size: .75em;
    margin-top: 2em;
    margin-bottom: .6em;
}

h6 {
    font-size: .75em;
    font-weight: inherit;
    margin-top: 2em;
    margin-bottom: .6em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

ul {
    list-style: inside;
}

header {
    display: inline-block;
    margin-bottom: .75em;
}

header a:any-link {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-size: 1.5em;
    margin: 0 0 .2em 0;
}

header p {
    margin: 0;
}

header {
    display: inline-block;
    margin-bottom: .75em;
}

header a:any-link {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-size: 1.5em;
    margin: 0 0 .2em 0;
}

header p {
    margin: 0;
}

main + footer {
    margin-block: 4rem;
}

footer {
    text-align: center;
    font-style: normal;
    font-size: .8rem;
}

address {
    font-style: normal;
}

.underline {
    text-decoration: underline .2rem;
}

@media (min-width: 40rem) {
    body {
        font-size: large;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: snow;
        --background-color: hsl(0 0% 10%);
    }

    body a {
        color: #809fff;
    }
}
